name: Docker Image CI
on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
  workflow_dispatch:
env:
  IMAGE_NAME: zkoesters/steamcmd
jobs:
  release:
    name: Release Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 'trixie-root'
          - version: 'trixie'
          - version: 'trixie-wine-root'
          - version: 'trixie-wine'
          - version: 'trixie-proton-root'
          - version: 'trixie-proton'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          annotations: ${{ steps.meta.outputs.annotations }}
          sbom: true
          provenance: mode=max
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ matrix.version }}
          target: ${{ matrix.version }}
