name: Tests
on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
permissions:
  contents: read
jobs:
  test:
    name: Image Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run tests
        run: make test
